<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1540},{2048,1536}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2048,1536}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>main_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{2048,1536}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2048,1536}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>mode_endless.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,3078},{425,292}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,10},{425,292}}</string>
			<key>sourceSize</key>
			<string>{439,322}</string>
		</dict>
		<key>mode_help.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,3728},{424,292}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{424,292}}</string>
			<key>sourceSize</key>
			<string>{438,314}</string>
		</dict>
		<key>mode_setting.png</key>
		<dict>
			<key>frame</key>
			<string>{{1193,3078},{424,292}}</string>
			<key>offset</key>
			<string>{-2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,11},{424,292}}</string>
			<key>sourceSize</key>
			<string>{438,324}</string>
		</dict>
		<key>mode_shop.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,3078},{425,292}}</string>
			<key>offset</key>
			<string>{2,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{425,292}}</string>
			<key>sourceSize</key>
			<string>{445,328}</string>
		</dict>
		<key>progress_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,3683},{929,23}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{929,23}}</string>
			<key>sourceSize</key>
			<string>{937,23}</string>
		</dict>
		<key>progress_bar_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,3372},{935,32}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,7},{935,32}}</string>
			<key>sourceSize</key>
			<string>{947,56}</string>
		</dict>
		<key>removead_bt.png</key>
		<dict>
			<key>frame</key>
			<string>{{1277,3372},{550,159}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{550,159}}</string>
			<key>sourceSize</key>
			<string>{562,175}</string>
		</dict>
		<key>removead_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,3406},{299,275}}</string>
			<key>offset</key>
			<string>{-7,86}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,17},{299,275}}</string>
			<key>sourceSize</key>
			<string>{359,481}</string>
		</dict>
		<key>removed_bt.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,3406},{560,159}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{560,159}}</string>
			<key>sourceSize</key>
			<string>{562,175}</string>
		</dict>
		<key>result_lose.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,3078},{335,335}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,11},{335,335}}</string>
			<key>sourceSize</key>
			<string>{341,353}</string>
		</dict>
		<key>result_win_good.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,3415},{410,311}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,11},{410,311}}</string>
			<key>sourceSize</key>
			<string>{416,341}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>game_sheet-ipadhd.png</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:37fbd1d08e288bdc25668d33a92af521$</string>
		<key>textureFileName</key>
		<string>game_sheet-ipadhd.png</string>
	</dict>
</dict>
</plist>
