<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,3}}</string>
                <key>sourceSize</key>
                <string>{33,3}</string>
            </dict>
            <key>vert.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{3,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,33}}</string>
                <key>sourceSize</key>
                <string>{3,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walls-ipad.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecd3e2d73c43591368d2bdfd11ab1b2d$</string>
            <key>textureFileName</key>
            <string>walls-ipad.png</string>
        </dict>
    </dict>
</plist>
