<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>horiz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{66,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,6}}</string>
			<key>sourceSize</key>
			<string>{66,6}</string>
		</dict>
		<key>vert.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,2},{6,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,66}}</string>
			<key>sourceSize</key>
			<string>{6,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>walls-ipadhd.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d9a00ff5d74e5935ef26fcc32e47153c$</string>
		<key>textureFileName</key>
		<string>walls-ipadhd.png</string>
	</dict>
</dict>
</plist>
